.footerNew {
    /* position: absolute; */
    bottom: 10px;
    font-family: 'sans-serif';
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.allRights {
    position: absolute;
    left: 40px;
    
}

.privacy {
    position: absolute;
    right: 40px;
}

.arisglobalLink {
    color: #1A3BDD !important;
}